## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [60]:
import numpy as np
import scipy
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [25]:
samples =np.random.normal(100,15,1000)  # s = np.random.normal(mu, sigma, 1000)
samples

array([ 85.72137491, 107.85276706,  87.2252371 ,  98.51079928,
        62.30888886,  71.32158498,  94.79884158, 112.43602834,
       109.06083004, 104.50017274, 112.45098305,  79.63309343,
       106.79147249,  89.97643454,  79.78060985, 105.48720994,
        89.12231479,  91.28839366,  75.36578115,  89.65958209,
        94.92563316, 107.1275961 , 105.8849873 , 102.28272677,
       103.05604719,  77.05467835,  79.26309832, 139.05173074,
        82.2824849 , 101.9309109 ,  94.58343498,  94.30034326,
        84.6778876 ,  98.55944863, 103.573757  ,  89.09812628,
       114.439042  ,  79.81627806, 100.67590844,  90.09968776,
       124.33355279, 129.61544451,  98.74656257,  88.21280299,
        94.83892907,  93.19773618, 101.56927604,  84.20218545,
        86.66133889,  98.29902995,  99.37649059,  90.53911974,
        98.97029582,  92.55990518, 117.2547394 ,  83.81383082,
        92.22583084, 113.96712002,  82.41254538,  96.7599849 ,
        92.72576635, 100.30823677, 108.6355962 ,  86.54436695,
       109.68356834,  94.56108918, 118.56059225,  91.58341242,
       113.23001479,  94.7132262 ,  87.73147051,  92.80586016,
       124.57731381,  77.84053511, 112.91228871,  97.36127062,
       125.45632703, 104.61317594, 100.48733628, 100.62395741,
       100.69068514,  87.3226862 , 108.21335139, 123.06467635,
        98.92492633, 109.4738015 ,  97.97178256,  70.80306665,
        98.41367598, 104.86767616, 108.22814047,  97.73901729,
       118.71930964,  74.61106402,  96.31629597,  89.82345199,
       120.44404187,  89.37248355, 130.64226441, 118.14166528,
       102.54583385,  84.92196074,  99.10121719, 124.14089271,
        93.078864  , 100.02491885,  88.53159146, 101.61268903,
       105.41005156, 104.80659829,  99.21397528,  95.62895398,
        84.00545046,  67.51679594, 107.32338911, 111.43342453,
        98.63667329, 101.6254755 ,  94.41976192, 111.16447527,
        90.07929785, 107.90005365, 104.62202366,  94.52757952,
       132.30318271, 126.81064697,  84.41133884,  80.24245168,
        82.46617761,  99.47144532, 102.52059934, 109.0557943 ,
       104.95292186, 128.24026625, 104.01109528,  94.68546393,
       106.1714349 ,  88.38739866, 124.75612446, 126.88099532,
        92.92321556,  80.45814383, 104.22310981, 117.9178523 ,
       109.37713109,  80.28039122,  87.56572361,  75.05719578,
       109.42807173,  83.41466649,  91.94916473, 120.05411082,
        99.14003833,  71.2172622 , 108.53354189,  91.27860797,
        86.73730776,  80.01747428, 111.86447009, 107.68031528,
        83.50161336, 102.83339124, 104.49283908,  93.4235351 ,
        81.32195975,  73.80803628,  96.85078126,  62.95742965,
        94.67096724, 114.0019475 ,  88.74207192, 107.20670534,
       121.9172886 , 107.09757514, 101.15238703, 106.39703092,
        76.39982665,  74.08883016, 132.89172261, 111.19166385,
       114.1069955 ,  92.8068853 ,  97.26346315,  97.25131088,
        82.87974939, 122.94251612,  84.73995379,  91.02791453,
        85.5183722 ,  78.97096481, 123.8165849 , 111.66524655,
        90.26992415,  54.56106939, 116.57251712,  91.48373239,
        76.41298845,  99.2007145 ,  84.10488983,  91.58843023,
       112.03521505, 111.27551803,  83.90061153,  76.14803806,
        96.73027749,  87.68553382,  97.17556629,  90.63142514,
        74.45094046, 114.2590352 , 124.9908832 ,  97.60864361,
       112.66102412, 106.82622071, 101.30380755, 122.04687689,
        88.13960954,  87.00907635,  98.38714236, 117.99481838,
       102.99108878, 126.16209014,  72.9951976 ,  94.07728702,
        68.77272199,  96.9139707 ,  79.50994677,  90.56552329,
        69.79423229, 101.56243065, 132.06264482, 105.64203486,
       124.16629264,  85.19963614, 116.56215328, 120.2593688 ,
        83.34634686,  99.67584434,  88.10992779, 112.19081601,
       113.33222903, 101.8832663 ,  96.18641006, 101.05556643,
       101.14746333, 101.62507976,  97.63573839,  99.69273226,
        86.37259799,  92.93170998, 114.81657889, 108.71744986,
       129.85634782, 117.58219137, 101.12141994, 121.13999965,
        99.84921426,  84.80307798, 105.1651633 , 106.42268645,
       101.72139313, 106.91629386,  96.86337407,  96.52956293,
       108.66636495, 109.61806093, 114.27005709,  91.21787174,
        97.37937038,  99.25984097, 100.11617806, 106.61046544,
       121.86060801,  93.42081148, 111.30821131, 100.93804391,
       102.96303023,  95.59232538,  85.86680092,  98.12605325,
       122.6057264 , 131.59064577, 125.14607347, 104.95315242,
       111.21769147, 103.65286233, 111.09172096, 111.06281711,
       110.77527551,  84.10759173,  99.33201127, 109.33034986,
        78.54608264,  94.68730313, 129.20778373, 108.7334514 ,
       108.95615723, 105.43382825,  90.76392871,  91.93152788,
       112.91734734,  97.64974111, 111.9142198 , 100.97133361,
       120.58622479,  93.67913718, 116.08298955, 122.74406364,
        72.13204192, 132.01637936,  97.57857241, 123.96467876,
        83.92698291,  98.92872611,  94.00113089,  92.01678354,
        72.77961714, 114.59897599, 115.40587848,  78.97378046,
        94.69131367, 133.73123624,  71.16651903,  85.24555393,
        98.30877535,  99.67346271,  74.65512992, 116.5918352 ,
        80.91040426, 125.70264794,  97.864193  , 100.47263798,
       101.76715031, 101.7709306 , 100.9579563 ,  88.10484942,
        94.3122114 ,  98.84123104, 129.40790916,  93.92732767,
        87.11636484,  99.51292881, 108.47710044,  82.592426  ,
       110.10617084, 101.86095299,  67.38519096,  94.21816072,
        96.20475638, 110.50881412,  82.86582684, 113.96438921,
       103.11030813,  90.11373254, 113.38016024,  92.25476319,
        75.69343182,  99.1130931 , 100.04485188,  79.0698316 ,
        96.35319354,  88.84078377, 101.62570738, 115.72915701,
        84.86554406, 127.07504276, 105.83566297, 104.88664175,
        94.07643153, 111.63606309,  92.82138552,  92.91596573,
        89.17849627,  97.83329358, 107.04193038, 117.52568424,
       122.05597066,  99.98936947, 126.72756834, 110.30592614,
        91.82758022,  91.60140534,  99.60491804,  97.60049564,
       101.81185158, 106.98747009,  89.87590637,  86.45930614,
        94.36049388,  93.97541732, 105.14907863, 111.58034337,
       112.08197008,  86.43091461, 103.87124695,  98.56053186,
       117.06588169, 101.98679067, 113.31904008,  80.32266468,
        99.3255339 , 122.07485251, 100.81868175, 111.08896786,
       108.80804207, 109.10698162, 119.33928697,  80.17441111,
       102.02162504, 104.4637358 ,  68.80692374,  89.32055586,
        93.07412687,  88.00631738,  97.72438406, 125.99967831,
       114.43574072, 102.5265567 , 113.8037755 , 103.56120557,
        98.84473553,  90.40198149, 108.0713235 ,  69.83781106,
        84.33149414, 118.22097086,  79.01848531, 118.58841208,
       105.4701606 , 100.35415762,  91.46912983,  82.87763421,
       123.42544786,  95.52652303,  95.98677129,  97.22963344,
       117.04083158, 105.29839136, 102.03347012, 101.89766736,
        77.83252269, 102.47903272,  93.42767651,  95.94840338,
       102.15754271,  96.32592069,  94.12630598, 120.73669484,
       105.73483007,  96.9942128 ,  91.96446469,  92.2513351 ,
       114.28489233,  96.12390725,  90.33459714, 114.38109631,
        98.23442691, 104.05688207,  75.77392835,  98.5917214 ,
        94.09388721, 131.00689076,  85.00652675,  84.41233151,
        82.64576979, 113.58471241, 113.14432724,  90.86710573,
       140.1519155 , 106.86343278, 112.15376786,  88.04431424,
       108.64629313,  96.9719066 ,  88.94444267, 115.87090963,
       100.32242013,  74.87176432, 115.56020528,  87.6416836 ,
       123.92132523,  93.82337052,  89.31758346,  76.17999992,
       118.26305691, 116.75100421, 123.01222188,  89.69000979,
        92.03052555,  94.40050456, 104.73138126, 100.07787705,
       115.70994809, 128.64431641, 102.86342811,  96.52779755,
       127.88799614, 100.81727933, 123.64168798,  82.91298266,
       103.74489742, 126.46992575,  91.80160204,  98.1444341 ,
        95.08692457,  89.24750722, 110.08086151, 109.55396468,
        94.68898676, 110.48014432, 107.22178136, 118.73883266,
       109.39432411,  82.94329042, 102.10752404, 112.93714113,
        92.19093949, 111.24496831, 121.18670663, 112.6542755 ,
       103.7617905 , 105.17435982,  89.5547468 , 132.78822799,
       120.45500511, 144.53305588, 124.41387556,  84.42693813,
        91.72887664, 128.72175949,  94.60349029, 121.55380286,
       114.96652384, 111.01880356, 100.82728039,  86.11234498,
        86.46389655,  95.75608031,  92.69884686,  75.88548599,
        99.23447691, 102.77118737,  93.29126728,  76.11512051,
        85.16555987, 112.8883979 , 109.08599983, 111.28954757,
        98.50854381, 111.48713657,  94.21928124, 129.64877607,
       103.78719061, 109.23198538, 117.43502003, 109.36410371,
       104.43457367, 100.10891614,  87.87752549, 104.29153669,
        89.92116555,  86.86888916,  96.41136298, 108.05900735,
       127.56581107,  92.37246441, 110.53876369,  96.84320491,
       106.9774343 ,  97.58390662,  90.03415587,  99.20044271,
        98.63895614, 100.2636344 , 105.10517591,  87.89603589,
       101.64149201,  95.23961851,  95.50382834,  82.1197959 ,
        88.00441263,  82.80311032, 108.24573737, 123.85855077,
       100.59755253,  51.59063458, 105.50659347, 104.13485799,
       104.02768995, 104.1462925 ,  81.00870477, 114.8641035 ,
        76.15801037, 101.44152834, 105.3845037 , 113.69967392,
        89.40414935, 124.60718378,  96.37562379,  91.04887475,
        82.50575078, 103.9568168 ,  84.67318227, 111.94817706,
       100.80814313, 105.09211371, 124.23707036, 106.67817978,
       101.63357011, 104.25876834,  98.59387856,  92.12246523,
        83.26371136, 117.35423359,  97.94162191,  78.68647934,
       134.20672762,  96.3307564 , 114.57925069,  88.14208456,
        66.59465979,  99.08755572,  64.19659914,  98.32856168,
       105.0190785 , 104.44341686,  96.58761118, 123.68434839,
       111.59307798,  98.24600256,  97.94042117,  71.75633274,
       131.160739  , 113.12435652, 119.30602424,  98.93030964,
        96.19799011,  70.11935889,  73.57695043,  85.63643844,
        96.85742705, 105.24390649, 109.20856465, 100.06612364,
       139.69929348,  83.60124488,  83.41367681,  96.627641  ,
        76.72037384,  95.11401367, 109.17087169, 118.54065068,
        97.3515197 , 113.90962863,  96.37165799, 115.04189663,
       126.28414525, 100.37968809,  87.05837375,  88.73367212,
       106.67817644,  78.62003936,  88.3846228 , 119.49095355,
        85.40605171,  88.97810634,  87.32064556, 101.84842472,
        87.69374938,  95.1546989 ,  75.32364158, 106.7541098 ,
       100.29369866,  88.48007392,  96.65302379,  94.66412709,
        87.91137616,  84.57938962,  93.46370654, 110.34656128,
        84.99702989,  84.5661137 , 104.53866488,  93.57499702,
       100.25409622, 114.11030982, 110.80507366, 100.79762424,
       108.00701969,  98.15942766,  93.83713704, 116.59719646,
        67.86041859, 112.2448612 , 124.70938504,  94.64083857,
       112.97962506,  79.4032192 ,  97.52139557, 101.22332059,
        98.34953098,  67.42767896,  76.99931519,  87.93410481,
       105.72775661, 109.33223622,  92.44617733,  80.38617802,
        97.56414258, 123.64735789, 132.9603071 , 105.1340444 ,
       112.25425371, 105.00087101,  96.98679888,  81.56179462,
       114.85841404,  90.86272775, 113.37843422,  75.77479689,
        97.23890908, 125.93655719,  87.12846649,  92.26814883,
        89.22372691,  95.58201612,  79.63066802, 103.09276633,
        90.49212828, 107.24054294,  92.14867272, 115.56910824,
        99.63048099, 108.79803227, 108.72788315,  91.43578416,
        94.54252024,  80.74865143,  81.72242545, 125.9775499 ,
       102.22189639, 117.87082917, 115.4730757 , 120.12685469,
       117.77043016,  85.03221327, 109.87541968, 103.45457938,
       104.88052643, 102.09050141,  92.41452528,  90.15174943,
       101.14221687, 116.66013636, 137.57210741,  97.18094741,
        66.41175854, 119.63021995, 109.2937146 , 105.25530957,
       100.96045686,  80.98988208,  86.09955162, 138.16809848,
       100.96742847, 108.02413292,  97.3007845 ,  64.53837548,
        82.39044442, 112.62492389,  99.73128885,  88.40373597,
       104.99599542,  84.44313578, 116.40476189,  96.3472429 ,
       103.77381647,  95.80497974,  84.76878666,  97.8815954 ,
       115.83280938,  80.49579228,  95.38328567, 105.19803148,
        75.33531583,  86.55081003, 109.70706267,  81.54044227,
        85.68686015, 116.99930483,  90.90839929,  97.30894794,
       107.92588303, 109.15901217,  92.89708763,  91.90348924,
        76.3505076 ,  86.22679299,  94.93030731, 100.58925274,
        88.70341436,  89.01559055, 102.26949449, 114.6190565 ,
        71.76618607, 119.9341809 , 105.17811152,  89.78245573,
        95.93526668, 103.41454595,  86.74392216,  80.43868384,
        77.99914115,  97.73946799, 113.34570319, 102.25816901,
       116.51361941,  82.15655164,  96.17865314, 111.67782918,
        78.64255131, 111.64423588,  96.96858819, 126.42879403,
       108.15069112, 115.18188341, 134.14995174,  96.02854381,
       132.55674112,  92.09471408, 110.75364442, 114.22346002,
       100.28522939,  98.40586641,  96.9028167 ,  92.13101006,
       108.63757181, 100.69274494,  98.72689569,  92.8390984 ,
       118.32225327,  98.16931686,  97.0410079 ,  89.29886153,
       100.16125522,  94.90480078, 109.3980249 , 108.2763671 ,
        84.53971688,  84.98598224,  80.41499536,  94.91758882,
        94.46258489, 105.80168539,  89.89854045,  83.82409408,
        77.16643871,  83.93770759,  93.26143646,  94.71808006,
        99.52053366, 111.20152107, 121.67179032,  93.57721688,
       110.91934224,  88.91936824, 112.19607123, 103.55595115,
        95.17948711, 112.66349486, 131.42739412,  82.98593109,
        73.8373749 ,  70.82829771,  82.87951063,  95.94635463,
       103.10436394,  93.24557115, 104.14631505,  87.28106681,
       103.52133886,  98.62911413,  64.34553035,  91.73659789,
       117.07403022,  79.53504435,  96.36499691, 121.40945256,
        75.11122935,  85.58418739, 113.8279936 ,  84.98261434,
        98.279485  , 134.13216831,  83.71947583, 116.16425684,
        99.09790902, 118.94751854, 106.14387147,  80.30724977,
       100.26124309,  92.68128637, 105.24820077, 113.51477329,
        95.61941261,  79.49645299, 106.32376345,  78.38038104,
        78.41843324, 105.11892957,  72.898539  ,  96.66296565,
        94.97401747, 102.64744229, 100.12074246, 112.37992391,
       100.33179574, 100.40547701,  96.38590261,  89.28034025,
        94.64516609, 103.51811021,  76.76778883,  93.3715223 ,
        86.16594624, 115.76510569, 100.48569553,  95.11775984,
       111.82614671, 100.76712794, 105.46128858, 121.83374612,
        83.78508731,  92.20573271,  89.38314675,  69.94384085,
       106.83055566, 124.76830331, 102.3795562 , 112.93707848,
        80.90625233,  97.08106875, 119.2394783 ,  92.10653839,
        77.36769634,  92.4684482 ,  87.89026686,  89.30132328,
       107.80741175,  97.21378442,  91.66366634,  84.0564997 ,
        90.34988983, 104.09991028,  82.84729836, 126.89319066,
        93.28787788, 115.56479591, 112.55563342,  96.17400398,
        99.20265652,  96.09100813,  97.41706487,  92.41676164,
        87.41172138, 141.57808836,  96.82399747,  87.30100059,
       104.22751862,  88.5408447 ,  88.05307025, 104.59391376,
       108.44791366,  76.85392708,  93.41168092,  95.35770365,
       139.14417229,  91.33171746, 109.17371991, 100.80619266,
        87.44409504, 119.16601015, 113.40035451, 112.61250858,
        88.55198117,  98.62566664,  82.0917786 , 122.20538243,
        87.7919711 ,  59.7212402 ,  88.5635341 , 108.63058118,
       105.14104152, 122.74612013,  88.23927245, 110.21875066,
       107.75442791,  98.82994851,  81.09656795, 125.25745714])

Compute the **mean**, **median**, and **mode**

In [32]:
mean = np.mean(samples)
median = np.median(samples)
mode = scipy.stats.mode(samples)

In [33]:
mean

99.72197988395116

In [34]:
median

98.95030273246786

In [35]:
mode

ModeResult(mode=array([51.59063458]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [30]:
min = np.min(samples)
max = np.max(samples)
q1 = np.percentile(samples,25)
q2 = np.percentile(samples,50)
q3 = np.percentile(samples,75)
iqr = q3 - q1
min,max,q1,q2,q3,iqr

(51.590634579012374,
 144.53305588370307,
 89.75934424589943,
 98.95030273246786,
 109.33082145084775,
 19.571477204948323)

Compute the **variance** and **standard deviation**

In [31]:
variance = np.var(samples)
std_dev = np.std(samples)
variance, std_dev

(215.30198897878412, 14.673172423807475)

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [38]:
skewness = scipy.stats.skew(samples)
kurtosis = scipy.stats.kurtosis(samples)
skewness, kurtosis

(0.12215985457252111, -0.012639766935673258)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [39]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [44]:
y = np.array([2,4,7,5,9,11,9,3,6,10])
y

array([ 2,  4,  7,  5,  9, 11,  9,  3,  6, 10])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [48]:
r = np.corrcoef(x,y)
r

array([[1.        , 0.47377937],
       [0.47377937, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [50]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
x,y

(0    10
 1    11
 2    12
 3    13
 4    14
 5    15
 6    16
 7    17
 8    18
 9    19
 dtype: int64,
 0     2
 1     1
 2     4
 3     5
 4     8
 5    12
 6    18
 7    25
 8    96
 9    48
 dtype: int64)

Call the relevant method  to calculate Pearson's r correlation.

In [53]:
r = stats.pearsonr(x,y)  # Pearson correlation coefficient and p-value for testing non-correlation.
r

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [55]:
rho = stats.spearmanr(x,y)  # Calculate a Spearman correlation coefficient with associated p-value.
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [56]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [59]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [61]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [62]:
tips.corr()  # Compute pairwise correlation of columns, excluding NA/null values.

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000